
{% extends 'base.html' %}

{% block title %} Seja bem vindo {% endblock %}

{% block main %}

       <h1>Seja bem vindo</h1>
       <br>
       <h3>Trabalho de redes</h3>
       <br>

                  {% if user.is_authenticated %}
                    <p>Ola {{ user.username}} <p/>
                  {% else %}
                    <a href="{% url 'person_list' %}" class="btn btn-light">Lista de Usuarios</a>
                    <a href="{% url 'person_new' %}" class="btn btn-light">Adicionar Usuario</a>
                  {% endif %}


{% endblock %}