<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <ul>
        {% for person in persons %}

            <li>
                <a> Nome: {{   person.first_name    }} </a>
                <a> Sobrenome: {{   person.last_name   }} </a>
                <a> IP: {{   person.IP   }} </a>
                <a> local: {{   person.local  }} </a>
                <a> data: {{   person.data    }} </a>
                <a> texto: {{   person.texto   }} </a>
                <a href="{% url 'person_update' person.id %}"> Editar </a>
                <a href="{% url 'person_delete' person.id %}"> Deletar </a>
            </li>

        {% endfor %}
    </ul>

    <a href="{% url 'person_new' %}">Novo Cliente</a>


</body>
</html>